/* Header.css */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .username::before {
    content: '';
    border-left: 1px solid #fff;
    height: 20px; /* Adjust the height based on your design */
    margin-right: 15px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .right-section a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .username {
    margin-right: 15px;
  }
  
  button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
  